# https://supabase.com/docs/guides/api/getting-started#supabase-url
NEXT_PUBLIC_SUPABASE_URL=****
NEXT_PUBLIC_SUPABASE_ANON_KEY=****
SUPABASE_SERVICE_ROLE_KEY=****

# https://platform.openai.com/api-keys
OPENAI_API_KEY=****
HINDSIGHT_API_KEY=****
E2B_API_KEY=****

# https://supabase.com/docs/guides/database/connecting-to-postgres
POSTGRES_URL=****

# https://vercel.com/docs/redis
REDIS_URL=****
